<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
            aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="#">Turnero</a>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item ">
                <a class="nav-link" href="http://localhost:8000">Inicio <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/solicitarturno">Solicitar Turno</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/persona">Persona</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/empleados">Empleado</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/clientes">Cliente</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/servicios">Servicios</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/prioridades">Prioridad</a>
            </li>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/puestos">Puestos</a>
            </li>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/roles">Roles</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/permisos">Permisos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/rolespermisos">Permisos de Roles</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/tipodocumentos">Tipos Documentos Admitidos</a>
            </li>
            <li class="nav-item align-center">
                <a class="nav-link" href="/logout">Salir</a>
            </li>
        </ul>

    </div>
</nav>
<div class="container">
    {% block content %}


    {% endblock %}
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>
</html>