{% extends "base.html" %}

{% block title %}
    Clientes
{% endblock %}


{% block content %}
   <div class="button">
       <br>
       <a class="btn btn-success" href="/registrarcliente/" role="button">Asignar Cliente</a>
   </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre Completo</th>
            <th scope="col">Ruc</th>
            <th scope="col">Razon Social</th>
        </tr>
        </thead>
        <tbody>
        {% if clientes %}
            {% for cliente in clientes %}
                <tr>
                    <td>{{ cliente.id_cliente}}</td>
                    <td>{{ cliente.persona_id_fk.nombre_completo}}</td>
                    <td>{{ cliente.ruc}}</td>
                    <td>{{ cliente.razon_social}}</td>
                    </td>
                      <td>
                           <a class="btn btn-primary" href="/editarcliente/{{cliente.id_cliente}}/" role="button">Editar</a>
                        <a class="btn btn-danger" href="/eliminarcliente/{{cliente.id_cliente}}/" role="button">Eliminar</a>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="10">No hay datos</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
{% endblock %}