{% extends "base.html" %}

{% block title %}
    RegistrarCliente
{% endblock %}


{% block content %}
    <form action="/guardarclienteeditado/" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="persona">*ID</label>
            <input type="text" name="id" class="form-control" id="exampleInputEmail1" aria-describedby=""
                   placeholder="" value="{{ cliente.id_cliente}}" readonly>
        </div>

        <div class="form-group">
            <label for="persona">*Cliente</label>
            <input type="text" name="persona" class="form-control" id="exampleInputEmail1" aria-describedby=""
                   placeholder="" value="{{ cliente.persona_id_fk.nombre_completo }}" readonly>
        </div>

        <div class="form-group">
            <label for="ruc">*Ruc</label>
            <input type="" name="ruc" class="form-control" id="exampleInputEmail1" aria-describedby=""
                   placeholder="" value={{ cliente.ruc }}>
        </div>

        <div class="form-group">
            <label for="razonsocial">*Razon Social</label>
            <input type="" name="razonsocial" class="form-control" id="exampleInputEmail1" aria-describedby=""
                   placeholder="" value="{{ cliente.razon_social }}">
        </div>

        <button type="submit" class="btn btn-primary">Guardar Cliente</button>
    </form>

{% endblock %}