{% extends "base.html" %}

{% block title %}
    RegistrarEmpleado
{% endblock %}


{% block content %}
    <form action="/guardarempleadoeditado/" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="">ID Empleado</label>
            <input type="text" name="id" class="form-control" id="exampleInputEmail1" aria-describedby="" placeholder=""
                   value="{{ empleado.id_empleado }}" readonly>
        </div>
        <div class="form-group">
            <label for="">Nombre Completo del Empleado</label>
            <input type="text" name="empleado" class="form-control" id="exampleInputEmail1" aria-describedby="" placeholder=""
                   value="{{ empleado.id_persona_fk.nombre_completo}}" readonly>
        </div>
        <div class="form-group">
            <label for="">*Cambiar Puesto </label>
            <select class="custom-select" name="puesto">
               <option selected  value={{ empleado.id_puesto_fk.id_puesto}} >{{ empleado.id_puesto_fk.nombre_puesto}}</option>
                {% for puesto in puestos %}
                    <option value={{ puesto.id_puesto }}>{{ puesto.nombre_puesto }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="">*Cambiar Usuario</label>
            <select class="custom-select" name="usuario">
                <option selected value={{ empleado.id_usuario_fk.id  }}>{{ empleado.id_usuario_fk.nombre }}</option>
                {% for usuario in usuarios %}
                    <option value={{ usuario.id }}>{{ usuario.nombre }}</option>
                {% endfor %}
            </select>
        </div>


        <button type="submit" class="btn btn-primary">Guardar Empleado</button>
    </form>

{% endblock %}