{% extends "base.html" %}

{% block title %}
    EditarRol
{% endblock %}


{% block content %}
    <form action="/guardarroleditado/" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="">ID</label>
            <input type="" name="id" class="form-control" id="exampleInputEmail1" aria-describedby=""
                   placeholder="" value="{{ rol.id_rol }}" readonly>
        </div>
        <div class="form-group">
            <label for="">Codigo</label>
            <input type="" name="codigo" class="form-control" id="exampleInputEmail1" aria-describedby=""
                   placeholder="" value="{{ rol.codigo }}">
        </div>
        <div class="form-group">
            <label for="">Nombre Rol</label>
            <input type="" name="rol" class="form-control" id="exampleInputEmail1" aria-describedby=""
                   placeholder="" value="{{ rol.descripcion }}">
        </div>
        <button type="submit" class="btn btn-primary">Guardar Rol</button>
    </form>

{% endblock %}