{% extends "base.html" %}
{% block title %}
    RegistrarPrioridad
{% endblock %}


{% block content %}
    <form action="/guardarprioridad/" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="id">ID</label>
            <input type="" name="id" class="form-control" id="exampleInputEmail1" aria-describedby=""
                   placeholder="" value="{{ prioridad.id_prioridad }}" readonly>
        </div>
        <div class="form-group">
            <label for="prioridad">Prioridad</label>
            <input type="" name="prioridad" class="form-control" id="exampleInputEmail1" aria-describedby=""
                   placeholder="" value="{{ prioridad.nivel_de_prioridad }}">
        </div>
        <button type="submit" class="btn btn-primary">Guardar Prioridad</button>
    </form>

{% endblock %}