{% extends "base.html" %}

{% block title %}
    PermisoRol
{% endblock %}


{% block content %}
    <form action="/guardarrolpermisoeditado/" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="">ID</label>
            <input type="" name="id" class="form-control" id="" aria-describedby="emailHelp"
                   placeholder="" value="{{ rolpermiso.id_rol_permiso }}" readonly>
        </div>
        <div class="form-group">
            <label for="">*Rol</label>
            <select class="custom-select" name="rol">
                <option selected value="{{ rolpermiso.id_rol_fk.id_rol }}">{{ rolpermiso.id_rol_fk.descripcion }}</option>
                {% for rol in roles %}
                    <option value={{ rol.id_rol }}>{{ rol.descripcion }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="">*Permisos</label>
            <select class="custom-select" name="permiso">
                <option selected value="{{ rolpermiso.id_permiso_fk.id_permiso }}">{{ rolpermiso.id_permiso_fk.descripcion }}</option>
                {% for permiso in permisos %}
                    <option value={{ permiso.id_permiso }}>{{ permiso.descripcion}}</option>
                {% endfor %}
            </select>
        </div>


        <button type="submit" class="btn btn-primary">Guardar Rol Permiso</button>
    </form>

{% endblock %}