{% extends "base.html" %}

{% block title %}
    EditarPuesto
{% endblock %}


{% block content %}
    <form action="/guardarpuestoeditado/" method="post">
        {% csrf_token %}
            <div class="form-group">
            <label for="">ID</label>
            <input type="" name="id" class="form-control" id="" aria-describedby="emailHelp" placeholder="" value="{{puesto.id_puesto}}" readonly>
        </div>
        <div class="form-group">
            <label for="">*Nombre</label>
            <input type="" name="puesto" class="form-control" id="" aria-describedby="emailHelp" placeholder="" value="{{puesto.nombre_puesto}}">
        </div>
        <div class="form-group">
            <label for="">*Servicio</label>
            <select class="custom-select" name="servicio">
                <option selected value={{ puesto.id_tipo_servicio_fk.id_tipo_servicio }}>{{ puesto.id_tipo_servicio_fk.nombre_servicio }}</option>
                {% for tiposervicio in tiposervicios %}
                    <option value={{ tiposervicio.id_tipo_servicio }}>{{ tiposervicio.nombre_servicio}}</option>
                {% endfor %}
            </select>
        </div>


        <button type="submit" class="btn btn-primary">Guardar Puesto</button>
    </form>

{% endblock %}