{% extends "base.html" %}

{% block title %}
    RegistrarTipoDocumento
{% endblock %}


{% block content %}
    <form action="/guardartipodocumentoeditado/" method="post">
        {% csrf_token %}
        <br>
        <div class="form-group">
            <label for="descripcion">*ID</label>
            <input type="" name="id" class="form-control" id="exampleInputEmail1" aria-describedby=""
                   placeholder="" value="{{ tipodocumento.id_tipo_documento }}" readonly>
        </div>
        <div class="form-group">
            <label for="descripcion">*Descripcion</label>
            <input type="" name="descripcion" class="form-control" id="exampleInputEmail1" aria-describedby=""
                   placeholder="" value="{{ tipodocumento.descripcion }}">
        </div>
        <div class="form-group">
            <label for="">*Activo</label>
            <input type="" name="activo" class="form-control" id="" aria-describedby="emailHelp" placeholder="" value="{{ tipodocumento.activo }}">
        </div>
        <div class="form-group">
            <label for="">*Fecha Modificacion (yyyy-mm-dd)</label>
            <input type="" name="fechamodificacion" class="form-control" id="" aria-describedby="emailHelp"
                   placeholder="" value="">
        </div>
        <div class="form-group">
            <label for="">*Usuario Modificacion</label>
            <input type="" name="usuariomodificacion" class="form-control" id="" aria-describedby="emailHelp"
                   placeholder="" value="{{ tipodocumento.usuario_modificacion }}">
        </div>

        <button type="submit" class="btn btn-primary">Guardar Tipo Documento</button>
    </form>
{% endblock %}