{% extends "base.html" %}

{% block title %}
    Registrar Turno
{% endblock %}


{% block content %}

    <form action="/guardarturnoeditado/" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="">ID</label>
            <input type="text" name="id" class="form-control" id="exampleInputEmail1" aria-describedby="" placeholder=""
                   value="{{ colaEspera.id_cola_espera }}" readonly>
        </div>
        <div class="form-group">
            <label for="">Cliente</label>
            <input type="text" name="id_cliente" class="form-control" id="exampleInputEmail1" aria-describedby=""
                   placeholder="" value="{{ colaEspera.id_cliente.persona_id_fk.nombre_completo }}" readonly>
        </div>
        <div class="form-group">
            <label for="">*Estado</label>
            <select class="custom-select" name="estado">
                <option selected value={{ colaEspera.id_estado.id_estado }}>{{colaEspera.id_estado.estado  }}</option>
                {% for estad in estados %}
                    <option value={{ estad.id_estado }}>{{ estad.estado }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="">*Prioridad</label>
            <select class="custom-select" name="id_prioridad">
                <option selected value={{ colaEspera.id_prioridad.id_prioridad}}>{{ colaEspera.id_prioridad.nivel_de_prioridad}}</option>
                {% for prioridad in prioridades %}
                    <option value={{ prioridad.id_prioridad }}>{{ prioridad.nivel_de_prioridad }}</option>
                {% endfor %}

            </select>
        </div>
        <div class="form-group">
            <label for="">Servicio</label>
            <input type="text" name="servicio" class="form-control" id="exampleInputEmail1" aria-describedby=""
                   placeholder="" value="{{ colaEspera.id_tipo_servicio.nombre_servicio }}" readonly>
        </div>
        <button type="submit" class="btn btn-primary">Actualizar Turno</button>
    </form>

{% endblock %}