{% extends "base.html" %}

{% block title %}
    EditarPermiso
{% endblock %}


{% block content %}
    <form action="/guardarpermisoeditado/" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="">ID</label>
            <input type="" name="id" class="form-control" id="exampleInputEmail1" aria-describedby=""
                   placeholder="" value="{{ permiso.id_permiso }}" readonly>
        </div>
        <div class="form-group">
            <label for="">Codigo</label>
            <input type="" name="codigo" class="form-control" id="exampleInputEmail1" aria-describedby=""
                   placeholder="" value="{{ permiso.codigo }}">
        </div>
        <div class="form-group">
            <label for="">Permisos</label>
            <input type="" name="permiso" class="form-control" id="exampleInputEmail1" aria-describedby=""
                   placeholder="" value="{{ permiso.descripcion }}">
        </div>
        <button type="submit" class="btn btn-primary">Guardar Rol</button>
    </form>

{% endblock %}