{% extends "base.html" %}

{% block title %}
    EditarPersona
{% endblock %}

{% block content %}

    <form action="/guardarpersonaeditado/" method="post">
        {% csrf_token %}
        <br>
        <div class="form-group">
            <label for="id">ID</label>
            <input type="" name="id" class="form-control" id="exampleInputEmail1" aria-describedby=""
                   placeholder="" value={{ persona.id }} readonly>
        </div>
        <div class="form-group">
            <label for="">*Tipo Documento</label>
            <select class="custom-select " name="tipodocumento">
                <option selected disabled
                        value={{ persona.id_tipo_documento_fk.id_tipo_documento }}>{{ persona.id_tipo_documento_fk.descripcion }}</option>
            </select>
        </div>

        <div class="form-group">
            <label for="numerodocumento">Numero de documento</label>
            <input type="" name="numerodocumento" class="form-control" id="exampleInputEmail1" aria-describedby=""
                   placeholder="" value={{ persona.numero_documento }} readonly>
        </div>
        <div class="form-group">
            <label for="">*Nombre Completo</label>
            <input type="" name="nombrecompleto" class="form-control" id="" aria-describedby="emailHelp" placeholder="" value={{ persona.nombre_completo }} readonly>
        </div>
        <div class="form-group">
            <label for="">*Fecha Nacimiento (yyyy-mm-dd)</label>
            <input type="text" name="fechanacimiento" class="form-control" id="" aria-describedby="emailHelp"
                   placeholder="" value={{ persona.fecha_nacimiento }} readonly>
        </div>
        <div class="form-group">
            <label for="">*Direccion</label>
            <input type="" name="direccion" class="form-control" id="" aria-describedby="emailHelp" placeholder=""
                   value= {{ persona.direccion }}>
        </div>
        <div class="form-group">
            <label for="">*Telefono</label>
            <input type="" name="telefono" class="form-control" id="" aria-describedby="emailHelp" placeholder=""
                   value={{ persona.telefono }}>
        </div>
        <div class="form-group">
            <label for="">*Email</label>
            <input type="" name="email" class="form-control" id="" aria-describedby="emailHelp" placeholder=""
                   value={{ persona.email }}>
        </div>
        <div class="form-group">
            <label for="">*Sexo</label>
            <select class="custom-select" name="sexo">
                <option selected disabled value={{ persona.sexo }}>{{ persona.sexo }}</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Actualizar Persona</button>
    </form>
{% endblock %}