{% extends "base.html" %}

{% block title %}
    RegistrarServicio
{% endblock %}


{% block content %}
    <form action="/guardarservicioeditado/" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="ID">ID</label>
            <input type="" name="id" class="form-control" id="exampleInputEmail1" aria-describedby=""
                   placeholder="" value="{{ servicio.id_tipo_servicio }} " readonly>
        </div>
        <div class="form-group">
            <label for="servicio">*Servicio</label>
            <input type="" name="servicio" class="form-control" id="exampleInputEmail1" aria-describedby=""
                   placeholder="" value="{{ servicio.nombre_servicio }}">
        </div>
        <button type="submit" class="btn btn-primary">Guardar Servicio</button>
    </form>

{% endblock %}