{% extends "base.html" %}

{% block title %}
    Empleado
{% endblock %}


{% block content %}
   <div class="button">
       <br>
       <a class="btn btn-success" href="/registrarempleado/" role="button">Asignar Empleado</a>

   </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Puesto</th>
            <th scope="col">Nombre Usuario</th>
             <th scope="col">Habilitado Usuario</th>
            <th scope="col">Servicio</th>
            <th scope="col">Nombre Completo</th>
            <th scope="col">Numero Documento</th>
            <th scope="col">Rol Adignado</th>
        </tr>
        </thead>
        <tbody>
        {% if empleados %}
            {% for empleado in empleados %}
                <tr>
                    <td>{{ empleado.id_empleado}}</td>
                    <td>{{ empleado.id_puesto_fk.nombre_puesto}}</td>
                    <td>{{ empleado.id_usuario_fk.nombre}}</td>
                    <td>{{ empleado.id_usuario_fk.activo}}</td>
                    <td>{{ empleado.id_puesto_fk.id_tipo_servicio_fk.nombre_servicio}}</td>
                    <td>{{ empleado.id_persona_fk.nombre_completo}}</td>
                    <td>{{ empleado.id_persona_fk.numero_documento}}</td>
                    <td>{{ empleado.id_usuario_fk.id_rol_permiso_fk.id_rol_fk.descripcion}}</td>
                    <td>
                        <a class="btn btn-primary" href="/editarempleado/{{empleado.id_empleado}}/" role="button">Editar</a>
                    </td>
                      <td>
                        <a class="btn btn-danger" href="/eliminarempleado/{{empleado.id_empleado}}/" role="button">Eliminar</a>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="10">No hay datos</td>
            </tr>
        {% endif %}
        </tbody>
    </table>

{% endblock %}