{%  extends "base.html"%}

    {% block title %}
     Formulario
    {% endblock %}


    {% block content %}
    <form action="/buscar/" method="get">
        <input type="text" name="f" placeholder="Buscar">
        <input type="submit" value="Buscard">
    </form>
    {% endblock %}