{% extends "base.html" %}

{% block title %}
    Inicio
{% endblock %}


{% block content %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">Ticket</th>
            <th scope="col">Cliente</th>
            <th scope="col">Estado</th>
            <th scope="col">Prioridad</th>
            <th scope="col">Tipo Servicio</th>
        </tr>
        </thead>
        <tbody>
        {% if listaDatos %}
            {% for dato in listaDatos %}
                <tr>
                    <td>{{ dato.id }}</td>
                    <td>{{ dato.numeroClasificaionTikets }}</td>
                    <td>{{ dato.nombreApellido }}</td>
                    <td>{{ dato.estado }}</td>
                    <td>{{ dato.prioridad }}</td>
                    <td>{{ dato.tipoServicio }}</td>
                    <td>
                        <a class="btn btn-primary" href="/editarturno/{{ dato.id }}/" role="button">Editar</a>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="6">No hay datos</td>
            </tr>
        {% endif %}
        </tbody>
    </table>

{% endblock %}