{% extends "base.html" %}

{% block title %}
    Permisos
{% endblock %}


{% block content %}
    <div class="button">
        <br>
        <a class="btn btn-success" href="/registrarrolpermiso/" role="button">Asignar Permisos a Rol</a>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Rol</th>
            <th scope="col">Permisos</th>
        </tr>
        </thead>
        <tbody>
        {% if permisosroles %}
            {% for permisorol in permisosroles %}
                <tr>
                    <td>{{ permisorol.id_rol_permiso}}</td>
                    <td>{{ permisorol.id_rol_fk.descripcion }}</td>
                    <td>{{ permisorol.id_permiso_fk.descripcion}}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <a class="btn btn-primary" href="/editarrolpermiso/{{ permisorol.id_rol_permiso  }}/" role="button">Editar</a>
                        <a class="btn btn-danger" href="/eliminarrolpermiso/{{permisorol.id_rol_permiso  }}/" role="button">Eliminar</a>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="10">No hay datos</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
{% endblock %}