{% extends "base.html" %}

{% block title %}
    Permisos
{% endblock %}


{% block content %}
    <div class="button">
        <br>
        <a class="btn btn-success" href="/registrarpermiso/" role="button">Crear Nuevo Permiso</a>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Codigo</th>
            <th scope="col">Nombre Rol</th>
        </tr>
        </thead>
        <tbody>
        {% if permisos %}
            {% for permiso in permisos %}
                <tr>
                    <td>{{ permiso.id_permiso }}</td>
                    <td>{{ permiso.codigo }}</td>
                    <td>{{ permiso.descripcion }}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <a class="btn btn-primary" href="/editarpermiso/{{ permiso.id_permiso  }}/" role="button">Editar</a>
                        <a class="btn btn-danger" href="/eliminarpermiso/{{ permiso.id_permiso  }}/" role="button">Eliminar</a>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="10">No hay datos</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
{% endblock %}