{% extends "base.html" %}

{% block title %}
    Inicio
{% endblock %}


{% block content %}
   <div class="button">
       <br>
       <a class="btn btn-success" href="/registrarpersona/" role="button">Nueva Persona</a>

   </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Tipo Documento</th>
            <th scope="col">Nro Documento</th>
            <th scope="col">Nombre Completo</th>
            <th scope="col">Fecha Nacimiento</th>
            <th scope="col">Direccion</th>
            <th scope="col">Telefono</th>
            <th scope="col">Email</th>
            <th scope="col">Sexo</th>
            <th scope="col">Opciones</th>
        </tr>
        </thead>
        <tbody>
        {% if personas %}
            {% for dato in personas %}
                <tr>
                    <td>{{ dato.id }}</td>
                    <td>{{ dato.id_tipo_documento_fk }}</td>
                    <td>{{ dato.numero_documento }}</td>
                    <td>{{ dato.nombre_completo }}</td>
                    <td>{{ dato.fecha_nacimiento }}</td>
                    <td>{{ dato.direccion }}</td>
                    <td>{{ dato.telefono }}</td>
                    <td>{{ dato.email }}</td>
                    <td>{{ dato.sexo }}</td>
                    <td>
                        <a class="btn btn-primary" href="/editarpersona/{{dato.id}}/" role="button">Editar</a>

                    </td>
                      <td>
                        <a class="btn btn-danger" href="/eliminarpersona/{{dato.id}}/" role="button">Eliminar</a>

                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="10">No hay datos</td>
            </tr>
        {% endif %}
        </tbody>
    </table>

{% endblock %}