{%  extends "base.html"%}
    {% block title %}Plantillas{% endblock %}
 {#{% include "base.html" %} Inclusion de una plantilla#}
{% block content %}
    <h1>Hola mundo</h1>
    {#Este es un comentario#}
    <p>El nombre es : {{ nombre_persona.upper }}</p>
    <p>El Apellido es : {{ apellido_persona }}</p>
    <p>El momento actual es : {{ fecha }}</p>
    <p>Temas del curso</p>
    <p>
        <ul>
            {% if temas %}
                {% for elTema in temas %}
                    <li>{{ elTema }}</li>
                {% endfor %}
            {% else %}
                <li>No hay temas</li>
            {% endif %}
        </ul>

    </p>
{% endblock %}
