{% extends "base.html" %}

{% block title %}
    Servicios
{% endblock %}


{% block content %}
    <div class="button">
        <br>
        <a class="btn btn-success" href="/registrarprioridad/" role="button">Nueva Prioridad</a>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col" >Prioridades</th>
        </tr>
        </thead>
        <tbody>
        {% if prioridades %}
            {% for prioridad in prioridades %}
                <tr>
                    <td >{{ prioridad.id_prioridad }}</td>
                    <td >{{ prioridad.nivel_de_prioridad }}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <a class="btn btn-primary" href="/editarprioridad/{{ prioridad.id_prioridad}}/"
                           role="button">Editar</a>
                        <a class="btn btn-danger" href="/eliminarprioridad/{{ prioridad.id_prioridad}}/" role="button">Eliminar</a>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="10">No hay datos</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
{% endblock %}