{% extends "base.html" %}

{% block title %}
    Puestos
{% endblock %}


{% block content %}
    <div class="button">
        <br>
        <a class="btn btn-success" href="/registrarpuesto" role="button">Agregar Nuevo Puesto</a>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col" >Puestos</th>
            <th scope="col" >Tipo Servicio</th>
        </tr>
        </thead>
        <tbody>
        {% if puestos %}
            {% for puesto in puestos %}
                <tr>
                    <td >{{ puesto.id_puesto }}</td>
                    <td >{{ puesto.nombre_puesto}}</td>
                    <td>{{ puesto.id_tipo_servicio_fk.nombre_servicio}}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <a class="btn btn-primary" href="/editarpuesto/{{ puesto.id_puesto}}/"
                           role="button">Editar</a>
                        <a class="btn btn-danger" href="/eliminarpuesto/{{puesto.id_puesto}}/" role="button">Eliminar</a>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="10">No hay datos</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
{% endblock %}