{% extends "base.html" %}

{% block title %}
    RegistrarCliente
{% endblock %}


{% block content %}
    <form action="/guardarpersona/" method="post">
        {% csrf_token %}
        <br>
        <div class="form-group">
            <label for="numerodocumento">*Tipo Documento</label>
            <select class="custom-select " name="tipodocumento">
                <option selected>Tipo Documento</option>
                 {% for documento in tipo_documentos %}
                    <option value={{ documento.id_tipo_documento }}>{{ documento.descripcion }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <label for="numerodocumento">Numero de documento</label>
            <input type="" name="numerodocumento" class="form-control" id="exampleInputEmail1" aria-describedby=""
                   placeholder="">
        </div>
        <div class="form-group">
            <label for="">*Nombre</label>
            <input type="" name="nombrecompleto" class="form-control" id="" aria-describedby="emailHelp" placeholder="">
        </div>
        <div class="form-group">
            <label for="">*Fecha Nacimiento (yyyy-mm-dd)</label>
            <input type="" name="fechanacimiento" class="form-control" id="" aria-describedby="emailHelp"
                   placeholder="">
        </div>
        <div class="form-group">
            <label for="">*Direccion</label>
            <input type="" name="direccion" class="form-control" id="" aria-describedby="emailHelp" placeholder="">
        </div>
        <div class="form-group">
            <label for="">*Telefono</label>
            <input type="" name="telefono" class="form-control" id="" aria-describedby="emailHelp" placeholder="">
        </div>
        <div class="form-group">
            <label for="">*Email</label>
            <input type="" name="email" class="form-control" id="" aria-describedby="emailHelp" placeholder="">
        </div>
        <div class="form-group">
            <label for="numerodocumento">*Sexo</label>
            <select class="custom-select" name="sexo">
                <option selected>Elegir Sexo</option>
                <option value="{{ sexo.0 }}">{{ sexo.0 }}</option>
                <option value="{{ sexo.1 }}">{{ sexo.1 }}</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Guardar Cliente</button>
    </form>
{% endblock %}