{% extends "base.html" %}

{% block title %}
    RegistrarCliente
{% endblock %}


{% block content %}
    <form action="/guardarcliente/" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="">*Cliente</label>
            <select class="custom-select" name="persona">
                <option selected>Seleccionar Cliente</option>
                {% for persona in personas %}
                    <option value={{ persona.id }}>{{ persona.nombre_completo }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <label for="ruc">*Ruc</label>
            <input type="" name="ruc" class="form-control" id="exampleInputEmail1" aria-describedby=""
                   placeholder="">
        </div>

        <div class="form-group">
            <label for="razonsocial">*Razon Social</label>
            <input type="" name="razonsocial" class="form-control" id="exampleInputEmail1" aria-describedby=""
                   placeholder="">
        </div>

        <button type="submit" class="btn btn-primary">Guardar Cliente</button>
    </form>

{% endblock %}