{% extends "base.html" %}

{% block title %}
    PermisoRol
{% endblock %}


{% block content %}
    <form action="/guardarrolpermiso/" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="">*Permisos</label>
            <select class="custom-select" name="permiso">
                <option selected>Seleccionar Permisos</option>
                {% for permiso in permisos %}
                    <option value={{ permiso.id_permiso }}>{{ permiso.descripcion }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="">*Rol</label>
            <select class="custom-select" name="rol">
                <option selected>Seleccionar Rol</option>
                {% for rol in roles %}
                    <option value={{ rol.id_rol }}>{{ rol.descripcion }}</option>
                {% endfor %}
            </select>
        </div>


            <button type="submit" class="btn btn-primary">Guardar Rol Permiso</button>
    </form>

{% endblock %}