{% extends "base.html" %}

{% block title %}
    RegistrarEmpleado
{% endblock %}


{% block content %}
    <form action="/guardarempleado/" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="">*Elegir Empleado</label>
            <select class="custom-select" name="persona">
                <option selected>Seleccionar Empleado</option>
                {% for persona in personas %}
                    <option value={{ persona.id }}>{{ persona.nombre_completo }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <label for="">*Asignar Puesto </label>
            <select class="custom-select" name="puesto">
                <option selected>Seleccionar Puesto</option>
                {% for puesto in puestos %}
                    <option value={{ puesto.id_puesto }}>{{ puesto.nombre_puesto }}</option>
                {% endfor %}

            </select>
        </div>

        <div class="form-group">
            <label for="">*Asignar un Usuario</label>
            <select class="custom-select" name="usuario">
                <option selected>Seleccionar la prioridad</option>
                {% for usuario in usuarios %}
                    <option value={{ usuario.id }}>{{ usuario.nombre }}</option>
                {% endfor %}
            </select>
        </div>


        <button type="submit" class="btn btn-primary">Guardar Empleado</button>
    </form>

{% endblock %}