{% extends "base.html" %}

{% block title %}
    Registrar Turno
{% endblock %}


{% block content %}

    <form action="/guardarturno/" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="">*Razon Social Cliente </label>
            <select class="custom-select" name="cliente">
                <option selected>Seleccionar Cliente</option>
                {% for cliente in clientes %}
                    <option value={{ cliente.id_cliente }}>{{ cliente.razon_social }}</option>
                {% endfor %}

            </select>
        </div>

        <div class="form-group">
            <label for="">*Prioridad</label>
            <select class="custom-select" name="prioridad">
                <option selected>Seleccionar la prioridad</option>
                {% for prioridad in prioridades %}
                    <option value={{ prioridad.id_prioridad }}>{{ prioridad.nivel_de_prioridad }}</option>
                {% endfor %}
            </select>
        </div>


        <div class="form-group">
            <label for="">*Estado</label>
            <select class="custom-select" name="estado">
                <option selected>Seleccionar Estado</option>
                {% for estad in estados %}
                    <option value={{ estad.id_estado }}>{{ estad.estado }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="">*Servicio</label>
            <select class="custom-select" name="servicio">
                <option selected>Selecciona un servicio</option>
                {% for servicio in servicios %}
                    <option value={{ servicio.id_tipo_servicio }}>{{ servicio.nombre_servicio }}</option>
                {% endfor %}

            </select>
        </div>
        <button type="submit" class="btn btn-primary">Generar Turno</button>
    </form>

{% endblock %}