{% extends "base.html" %}

{% block title %}
    RegistrarTipoDocumento
{% endblock %}


{% block content %}
    <form action="/guardartipodocumento/" method="post">
        {% csrf_token %}
        <br>
        <div class="form-group">
            <label for="descripcion">*Descripcion</label>
            <input type="" name="descripcion" class="form-control" id="exampleInputEmail1" aria-describedby=""
                   placeholder="">
        </div>
        <div class="form-group">
            <label for="">*Activo</label>
            <input type="" name="activo" class="form-control" id="" aria-describedby="emailHelp" placeholder="">
        </div>
        <div class="form-group">
            <label for="">*Fecha Modificacion (yyyy-mm-dd)</label>
            <input type="" name="fechamodificacion" class="form-control" id="" aria-describedby="emailHelp"
                   placeholder="">
        </div>
        <div class="form-group">
            <label for="">*Usuario Modificacion</label>
            <input type="" name="usuariomodificacion" class="form-control" id="" aria-describedby="emailHelp" placeholder="">
        </div>

        <button type="submit" class="btn btn-primary">Guardar Tipo Documento</button>
    </form>
{% endblock %}