{% extends "base.html" %}

{% block title %}
    RegistrarPuesto
{% endblock %}


{% block content %}
    <form action="/guardarpuesto/" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="">*Nombre</label>
            <input type="" name="puesto" class="form-control" id="" aria-describedby="emailHelp" placeholder="">
        </div>
        <div class="form-group">
            <label for="">*Servicio</label>
            <select class="custom-select" name="servicio">
                <option selected>Seleccionar area a cual pertenece</option>
                {% for tiposervicio in tiposervicios %}
                    <option value={{ tiposervicio.id_tipo_servicio }}>{{ tiposervicio.nombre_servicio}}</option>
                {% endfor %}
            </select>
        </div>


        <button type="submit" class="btn btn-primary">Guardar Puesto</button>
    </form>

{% endblock %}