{% extends "base.html" %}

{% block title %}
    RegistrarServicio
{% endblock %}


{% block content %}
    <form action="/guardarservicio/" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="servicio">*Servicio</label>
            <input type="" name="servicio" class="form-control" id="exampleInputEmail1" aria-describedby=""
                   placeholder="">
        </div>
        <button type="submit" class="btn btn-primary">Guardar Servicio</button>
    </form>

{% endblock %}