{% extends "base.html" %}

{% block title %}
    RegistrarPermiso
{% endblock %}


{% block content %}
    <form action="/guardarpermiso/" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="">Codigo</label>
            <input type="" name="codigo" class="form-control" id="exampleInputEmail1" aria-describedby=""
                   placeholder="">
        </div>
        <div class="form-group">
            <label for="">Permisos</label>
            <input type="" name="permiso" class="form-control" id="exampleInputEmail1" aria-describedby=""
                   placeholder="">
        </div>
        <button type="submit" class="btn btn-primary">Guardar Rol</button>
    </form>

{% endblock %}