{% extends "base.html" %}

{% block title %}
    RegistrarPrioridad
{% endblock %}


{% block content %}
    <form action="/guardarprioridad/" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="prioridad">Prioridad Nueva</label>
            <input type="" name="prioridad" class="form-control" id="exampleInputEmail1" aria-describedby=""
                   placeholder="">
        </div>
        <button type="submit" class="btn btn-primary">Guardar Prioridad</button>
    </form>

{% endblock %}