{% extends "base.html" %}

{% block title %}
    Roles
{% endblock %}


{% block content %}
    <div class="button">
        <br>
        <a class="btn btn-success" href="/registrarrol/" role="button">Crear Nuevo Rol</a>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Codigo</th>
            <th scope="col">Nombre Rol</th>
        </tr>
        </thead>
        <tbody>
        {% if roles %}
            {% for rol in roles %}
                <tr>
                    <td>{{ rol.id_rol }}</td>
                    <td>{{ rol.codigo }}</td>
                    <td>{{ rol.descripcion }}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <a class="btn btn-primary" href="/editarrol/{{ rol.id_rol }}/" role="button">Editar</a>
                        <a class="btn btn-danger" href="/eliminarrol/{{ rol.id_rol }}/" role="button">Eliminar</a>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="10">No hay datos</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
{% endblock %}