{% extends "base.html" %}

{% block title %}
    Servicios
{% endblock %}


{% block content %}
    <div class="button">
        <br>
        <a class="btn btn-success" href="/registrarservicio/" role="button">Crear Servicio</a>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col" >Servicio</th>
        </tr>
        </thead>
        <tbody>
        {% if servicios %}
            {% for servicio in servicios %}
                <tr>
                    <td >{{ servicio.id_tipo_servicio }}</td>
                    <td >{{ servicio.nombre_servicio }}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <a class="btn btn-primary" href="/editarservicio/{{ servicio.id_tipo_servicio }}/"
                           role="button">Editar</a>
                        <a class="btn btn-danger" href="/eliminarservicio/{{ servicio.id_tipo_servicio }}/" role="button">Eliminar</a>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="10">No hay datos</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
{% endblock %}