{% extends "base.html" %}

{% block title %}
    TipoDocumento
{% endblock %}


{% block content %}
    <div class="button">
        <br>
        <a class="btn btn-success" href="/registrartipodocumento/" role="button">Nuevo Tipo Documento</a>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Activo</th>
            <th scope="col">Fecha modificacion</th>
            <th scope="col">Usuario modificacion</th>
        </tr>
        </thead>
        <tbody>
        {% if tipodocumentos %}
            {% for tipodocumento in tipodocumentos %}
                <tr>
                    <td>{{ tipodocumento.id_tipo_documento }}</td>
                    <td>{{ tipodocumento.descripcion }}</td>
                    <td>{{ tipodocumento.activo }}</td>
                    <td>{{ tipodocumento.fecha_modificacion }}</td>
                    <td>{{ tipodocumento.usuario_modificacion }}</td>
                    <td>
                        <a class="btn btn-primary" href="/editartipodocumento/{{ tipodocumento.id_tipo_documento }}/" role="button">Editar</a>
                        <a class="btn btn-danger" href="/eliminartipodocumento/{{ tipodocumento.id_tipo_documento }}/" role="button">Eliminar</a>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="10">No hay datos</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
{% endblock %}